= form_for @scholarship_period do |f|
  - if @scholarship_period.errors.any?
    #error_explanation
      %h2= "#{pluralize(@scholarship_period.errors.count, "error")} prohibited this scholarship_period from being saved:"
      %ul
        - @scholarship_period.errors.full_messages.each do |message|
          %li= message

  .row
    .col-md-6
      .form-group
        = f.label :"Начало"
        = f.date_select :begin, class: 'form-control'
        = f.error_messages_for(:begin)
  .row
    .col-md-6
      .form-group
        = f.label :"Окончание"
        = f.date_select :end, class: 'form-control'
        = f.error_messages_for(:end)
  .row
    .col-md-6
      .form-group
        = f.submit 'Сохранить', class: "btn btn-success"
        \|
        = link_to 'Назад', scholarship_periods_path, class: "btn btn-primary"
