%h1 Период начисления стипендии

= link_to 'Внести новый период начисления стипендии', new_scholarship_period_path, class: "btn btn-primary"

%table.table-hover.table-condensed
  %thead
    %tr
      %th.tbl-width65.text-center  Начало
      %th.tbl-width65.text-center  Окончание
      %th
      %th
      %th

  %tbody
    - @scholarship_periods.each do |scholarship_period|
      %tr
        %td.tbl-width65.text-center= scholarship_period.begin
        %td.tbl-width65.text-center= scholarship_period.end
        %td= link_to 'Показать', scholarship_period, class: "btn btn-primary"
        %td= link_to 'Редактировать', edit_scholarship_period_path(scholarship_period), class: "btn btn-warning"
        %td= link_to 'Удалить', scholarship_period, method: :delete, data: { confirm: 'Вы уверены?' }, class: "btn btn-danger"

%br

