%p#notice= notice

%p
  %b Начало:
  = @scholarship_period.begin
%p
  %b Окончание:
  = @scholarship_period.end

= link_to 'Редактировать', edit_scholarship_period_path(@scholarship_period), class: "btn btn-warning"
\|
= link_to 'Назад', scholarship_periods_path, class: "btn btn-primary"
