= form_for @type_scholarship do |f|
  - if @type_scholarship.errors.any?
    #error_explanation
      %h2= "#{pluralize(@type_scholarship.errors.count, "error")} prohibited this type_scholarship from being saved:"
      %ul
        - @type_scholarship.errors.full_messages.each do |message|
          %li= message

  .row
    .col-md-6
      .form-group
        = f.label :"Наименование финансирования"
        = f.text_area :name_financing, class: 'form-control'
  .row
    .col-md-6
      .form-group
        = f.label :"Тип стипендии"
        = f.text_area :typescholarship, class: 'form-control'
  .row
    .col-md-6
      .form-group
  .form-actions
    = f.submit 'Сохранить', class: "btn btn-success"
    \|
    = link_to 'Назад', type_scholarships_path, class: "btn btn-primary"
