%h1 
  Вид стипендий
  .pull-right{style: "padding-top: 1rem"}
    = link_to 'Новый вид стипендии', new_type_scholarship_path, class: "btn btn-primary"
  .clearfix

%table.table.table-hover.table-condensed
  %thead
    %tr
      %th.tbl-width65.text-center Финансирование
      %th.tbl-width65.text-center Вид стипендии
      %th
      %th
      %th

  %tbody
    - @type_scholarships.each do |type_scholarship|
      %tr
        %td.tbl-width65.text-center= type_scholarship.name_financing
        %td.tbl-width65.text-center= type_scholarship.typescholarship
        %td= link_to 'Показать', type_scholarship, class: "btn btn-primary"
        %td= link_to 'Редактировать', edit_type_scholarship_path(type_scholarship), class: "btn btn-warning"
        %td= link_to 'Удалить', type_scholarship, method: :delete, data: { confirm: 'Вы уверены?' }, class: "btn btn-danger"


%br

