%p#notice= notice

%p
  %b Наименование финансирования:
  = @type_scholarship.name_financing
%p
  %b Тип стипендии:
  = @type_scholarship.typescholarship

= link_to 'Редактировать', edit_type_scholarship_path(@type_scholarship), class: "btn btn-warning"
\|
= link_to 'Назад', type_scholarships_path, class: "btn btn-primary"
