= form_for @student do |f|
  - if @student.errors.any?
    #error_explanation
      %h2= "#{pluralize(@student.errors.count, "error")} prohibited this student from being saved:"
      %ul
        - @student.errors.full_messages.each do |message|
          %li= message

  .row
    .col-md-6
      .form-group
        = f.label :"Имя"
        = f.text_area :fn, class: 'form-control'
  .row
    .col-md-6
      .form-group
        = f.label :"Фамилия"
        = f.text_area :sn, class: 'form-control'
  .row
    .col-md-6
      .form-group
        = f.label :"Отчество"
        = f.text_area :ln, class: 'form-control'
  .row
    .col-md-6
      .form-group
        = f.label :"День рождения"
        = f.text_field :birthday, class: 'form-control'
  .row
    .col-md-6
      .form-group
        = f.label :"Курс"
        = f.number_field :course, class: 'form-control'
  .row
    .col-md-6
      .form-group
        = f.label :"Факультет"
        = f.text_field :faculty, class: 'form-control'
  .row
    .col-md-6
      .form-group
        = f.label :"Группа"
        = f.text_field :group, class: 'form-control'
  .row
    .col-md-6
      .form-group
  .form-actions
    = f.submit 'Сохранить', class: "btn btn-success"
    \|
    = link_to 'Назад', students_path, class: "btn btn-primary"
