= form_for @student do |f|
  - if @student.errors.any?
    #error_explanation
      %h2= "#{pluralize(@student.errors.count, "error")} prohibited this student from being saved:"
      %ul
        - @student.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :fn
    = f.text_area :fn
  .field
    = f.label :sn
    = f.text_area :sn
  .field
    = f.label :ln
    = f.text_area :ln
  .field
    = f.label :birthday
    = f.text_field :birthday
  .field
    = f.label :course
    = f.number_field :course
  .field
    = f.label :faculty
    = f.text_field :faculty
  .field
    = f.label :group
    = f.text_field :group
  .actions
    = f.submit 'Save'
