%h1 Listing students

%table
  %thead
    %tr
      %th Fn
      %th Sn
      %th Ln
      %th Birthday
      %th Course
      %th Faculty
      %th Group
      %th
      %th
      %th

  %tbody
    - @students.each do |student|
      %tr
        %td= student.fn
        %td= student.sn
        %td= student.ln
        %td= student.birthday
        %td= student.course
        %td= student.faculty
        %td= student.group
        %td= link_to 'Show', student
        %td= link_to 'Edit', edit_student_path(student)
        %td= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Student', new_student_path
