%h1 
  Студенты
  .pull-right{style: "padding-top: 1rem"}
    = link_to 'Добавить студента', new_student_path, class: "btn btn-primary"
  .clearfix

%table.table.table-hover.table-condensed
  %thead
    %tr
      %th.tbl-width65.text-center Имя
      %th.tbl-width65.text-center Фамилия
      %th.tbl-width65.text-center Отчество
      %th.tbl-width65.text-center День рождения
      %th.tbl-width65.text-center Курс
      %th.tbl-width65.text-center Факультет
      %th.tbl-width65.text-center Группа
      %th
      %th
      %th

  %tbody
    - @students.each do |student|
      %tr
        %td.tbl-width65.text-center= student.fn
        %td.tbl-width65.text-center= student.sn
        %td.tbl-width65.text-center= student.ln
        %td.tbl-width65.text-center= student.birthday
        %td.tbl-width65.text-center= student.course
        %td.tbl-width65.text-center 
          = student.faculty.namef
        %td.tbl-width65.text-center
          = student.group.numberg
        %td= link_to 'Показать', student, class: "btn btn-primary"
        %td= link_to 'Редактировать', edit_student_path(student), class: "btn btn-warning"
        %td= link_to 'Удалить', student, method: :delete, data: { confirm: 'Вы уверены?' }, class: "btn btn-danger"

%br

