%h1 Студенты

= link_to 'Добавить студента', new_student_path, class: "btn btn-primary"

%table.table
  %thead
    %tr
      %th Имя
      %th Фамилия
      %th Отчество
      %th День рождения
      %th Курс
      %th Факультет
      %th Группа
      %th
      %th
      %th

  %tbody
    - @students.each do |student|
      %tr
        %td= student.fn
        %td= student.sn
        %td= student.ln
        %td= student.birthday
        %td= student.course
        %td 
          = student.faculty.namef
        %td
          = student.group.numberg
        %td= link_to 'Показать', student, class: "btn btn-primary"
        %td= link_to 'Редактировать', edit_student_path(student), class: "btn btn-warning"
        %td= link_to 'Удалить', student, method: :delete, data: { confirm: 'Вы уверены?' }, class: "btn btn-danger"

%br

