%p#notice= notice

%p
  %b Имя:
  = @student.fn
%p
  %b Фамилия:
  = @student.sn
%p
  %b Отчество:
  = @student.ln
%p
  %b День рождения:
  = @student.birthday
%p
  %b Курс:
  = @student.course
%p
  %b Факультет:
  = @student.faculty
%p
  %b Группа:
  = @student.group

= link_to 'Редактирвание', edit_student_path(@student), class: "btn btn-warning"
\|
= link_to 'Назад', students_path, class: "btn btn-primary"
