%p#notice= notice

%p
  %b Имя:
  = @student.fn
%p
  %b Фамилия:
  = @student.ln
%p
  %b Отчество:
  = @student.sn
%p
  %b День рождения:
  = @student.birthday
%p
  %b Курс:
  = @student.course
%p
  %b Факультет:
  = @student.faculty.namef
%p
  %b Группа:
  = @student.group.numberg
%p
  %b Стипендии:
  - @student.order_lines.each do |ol|
    = ol.beginning_date
    %br

= link_to 'Редактирвание', edit_student_path(@student), class: "btn btn-warning"
\|
= link_to 'Назад', students_path, class: "btn btn-primary"
