%h1 Факультеты

= link_to 'Создать факультет', new_faculty_path, class: "btn btn-primary"

%table.table.table-hover
  %thead
    %tr
      %th Название
      %th Группа
      %th
      %th
      %th

  %tbody
    - @faculties.each do |faculty|
      %tr
        %td= faculty.namef
        %td= faculty.groups.map{|gr|gr.numberg}.join(", ")
        %td= link_to 'Показать', faculty, class: "btn btn-primary"
        %td= link_to 'Редактировать', edit_faculty_path(faculty), class: "btn btn-warning"
        %td= link_to 'Удалить', faculty, method: :delete, data: { confirm: 'Вы уверены??' }, class: "btn btn-danger"

%br

