%h1 Listing faculties

%table
  %thead
    %tr
      %th Namef
      %th Group
      %th
      %th
      %th

  %tbody
    - @faculties.each do |faculty|
      %tr
        %td= faculty.namef
        %td= faculty.group
        %td= link_to 'Show', faculty
        %td= link_to 'Edit', edit_faculty_path(faculty)
        %td= link_to 'Destroy', faculty, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Faculty', new_faculty_path
