%p#notice= notice

%p
  %b Название:
  = @faculty.namef
%p
  %b Группа:
  = @faculty.groups

= link_to 'Редактировать', edit_faculty_path(@faculty), class: "btn btn-warning"
\|
= link_to 'Назад', faculties_path, class: "btn btn-primary"
