= form_for @group do |f|
  - if @group.errors.any?
    #error_explanation
      %h2= "#{pluralize(@group.errors.count, "error")} prohibited this group from being saved:"
      %ul
        - @group.errors.full_messages.each do |message|
          %li= message

  .row
    .col-md-6
      .form-group
        = f.label :Номер
        = f.text_field :numberg, class: 'form-control'
  .row
    .col-md-6
      .form-group
  .form-actions
    = f.submit 'Сохранить', class: "btn btn-success"
    \|
    = link_to 'Назад', groups_path, class: "btn btn-primary"
