%h1 
  Группы
  .pull-right{style: "padding-top: 1rem"}
    = link_to 'Добавить группу', new_group_path, class: "btn btn-primary"
  .clearfix

- @groups_hash.each do |faculty, groups_by_courses|
  = faculty.try(:namef)
  %table.table.table-hover.table-condensed
    %thead
      %tr
        - groups_by_courses.keys.each do |course|
          %th
            = course
    %tbody
      %tr
        - groups_by_courses.each do |course, groups|
          %td
            %ul
              - groups.each do |g|
                %li= link_to g.numberg, g
      
%table.table.table-hover.table-condensed
  %thead
    %tr
      %th.tbl-width200.text-center Номер
      %th
      %th
      %th

  %tbody
    - @groups.each do |group|
      %tr
        %td.tbl-width200.text-center= group.numberg
        %td= link_to 'Показать', group, class: "btn btn-primary"
        %td= link_to 'Редактировать', edit_group_path(group), class: "btn btn-warning"
        %td= link_to 'Удалить', group, method: :delete, data: { confirm: 'Вы уверены?' }, class: "btn btn-danger"

%br

