= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .row
    .col-md-6
      .form-group
        = f.label :email
        = f.text_field :email
  .row
    .col-md-6
      .form-group
        = f.label :"Пароль"
        = f.text_field :password
  .row
    .col-md-6
      .form-group
        = f.label :"Подтверждение пароля"
        = f.text_field :password_confirmation
  .row
    .col-md-6
      .form-group
  .actions
  .form-actions
    = f.submit 'Сохранить', class: "btn btn-success"
