%h1 Пользователи

= link_to 'Добавить пользователя', new_user_path, class: "btn btn-primary"

%table.table.table-hover.table-condensed
  %thead
    %tr
      %th Email
      %th Зашифрованный пароль
      %th Salt
      %th
      %th
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.email
        %td= user.crypted_password
        %td= user.salt
        %td= link_to 'Показать', user, class: "btn btn-primary"
        %td= link_to 'Редактировать', edit_user_path(user), class: "btn btn-warning"
        %td= link_to 'Удалить', user, :method => :delete, :data => { :confirm => 'Вы уверены?' }, class: "btn btn-danger"

%br


