%p#notice= notice

%p
  %b Email:
  = @user.email
%p
  %b Зашифрованный пароль:
  = @user.crypted_password
%p
  %b Salt:
  = @user.salt

= link_to 'Редактировать', edit_user_path(@user), class: "btn btn-warning"
\|
= link_to 'Назад', users_path, class: "btn btn-primary"
