%h1 
  Приказы
  .pull-right{style: "padding-top: 1rem"}
    = link_to 'Добавить приказ', new_order_path, class: "btn btn-primary"
  .clearfix

%table.table.table-hover.table-condensed
  %thead
    %tr
      %th.tbl-width65.text-center Номер
      %th.tbl-width65.text-center Дата
      %th.tbl-width65.text-center Статус
      %th.tbl-width65.text-center Кол-во прил.
      %th.tbl-width65.text-center Кол-во. студ.
      %th
      %th

  %tbody
    - @orders.each do |order|
      %tr
        %td.tbl-width65.text-center= order.number
        %td.tbl-width65.text-center= order.data
        %td= ['Проект', 'На подписи', 'Утвержден', 'Отменён'].shuffle.first
        %td 2
        %td 147
        %td= link_to 'Печать', order_path(order, format: :pdf), class: "btn btn-primary"
        %td= link_to 'Редактировать', edit_order_path(order), class: "btn btn-warning"



%br

