= form_for @perform_datum do |f|
  - if @perform_datum.errors.any?
    #error_explanation
      %h2= "#{pluralize(@perform_datum.errors.count, "error")} prohibited this perform_datum from being saved:"
      %ul
        - @perform_datum.errors.full_messages.each do |message|
          %li= message

  .row
    .col-md-6
      .form-group
        = f.label :"Количество 5"
        = f.number_field :quantity5, class: 'form-control'
  .row
    .col-md-6
      .form-group
        = f.label :"Количество 4"
        = f.number_field :quantity4, class: 'form-control'
  .row
    .col-md-6
      .form-group
        = f.label :"Количество 3"
        = f.number_field :quantity3, class: 'form-control'
  .row
    .col-md-6
      .form-group
        = f.label :"Количество 2"
        = f.number_field :quantity2, class: 'form-control'
  .row
    .col-md-6
      .form-group
        = f.label :"Студент"
        = f.text_field :student_id, class: 'form-control'
  .row
    .col-md-6
      .form-group
        = f.label :"Период стипендии"
        = f.text_field :scholarship_period_id, class: 'form-control'
  .row
    .col-md-6
      .form-group
  .form-actions
    = f.submit 'Сохранить', class: "btn btn-success"
    \|
    = link_to 'Назад', perform_data_path, class: "btn btn-primary"
