%h1 Информация об успеваемости

= link_to 'Добавить информацию об успеваемости', new_perform_datum_path, class: "btn btn-primary"

%table.table
  %thead
    %tr
      %th Количество 5
      %th Количество 4
      %th Количество 3
      %th Количество 2
      %th Студент
      %th Период начисления стипендий
      %th
      %th
      %th

  %tbody
    - @perform_data.each do |perform_datum|
      %tr
        %td= perform_datum.quantity5
        %td= perform_datum.quantity4
        %td= perform_datum.quantity3
        %td= perform_datum.quantity2
        %td
          = perform_datum.student.sn
          = perform_datum.student.fn
          = perform_datum.student.ln 
        %td
          = l(perform_datum.scholarship_period.begin)
          = l(perform_datum.scholarship_period.end)
        %td= link_to 'Показать', perform_datum, class: "btn btn-primary"
        %td= link_to 'Редактировать', edit_perform_datum_path(perform_datum), class: "btn btn-warning"
        %td= link_to 'Удалить', perform_datum, method: :delete, data: { confirm: 'Вы уверены?' }, class: "btn btn-danger"

%br

