%h1 
  Информация об успеваемости
  .pull-right{style: "padding-top: 1rem"}
    = link_to 'Добавить информацию об успеваемости', new_perform_datum_path, class: "btn btn-primary"
  .clearfix

= form_tag do
  %table.table.table-hover.table-condensed
    %thead
      %tr.noborder-bottom
        %th.tbl-width65.text-center
          Кол-во 5-к
        %th.tbl-width65.text-center
          Кол-во 4-к
        %th.tbl-width65.text-center 
          Кол-во 3-к
        %th.tbl-width65.text-center 
          Кол-во 2-к
        %th.tbl-width65.text-center 
          Студент 
        %th.tbl-width65.text-center 
          Период начисления стипендий
        %th
        %th
        %th
      %tr.noborder-top
        %th.tbl-width65.text-center
         
        %th.tbl-width65.text-center
          .form-group
            .input-group  
              = number_field :quantity4, '', class: 'form-control', placeholder: "Число или %"
              %span.input-group-addon
                %span
                  = link_to fa_icon :search, class: 'fa-fw'
        %th.tbl-width65.text-center
          .form-group
            .input-group  
              = number_field :quantity3, '', class: 'form-control', placeholder: "Число или %"
              %span.input-group-addon
                %span
                  = link_to fa_icon :search, class: 'fa-fw'
 
        %th.tbl-width65.text-center 
          .form-group
            .input-group  
              = number_field :quantity2, '', class: 'form-control', placeholder: "Число или %"
              %span.input-group-addon
                %span
                  = link_to fa_icon :search, class: 'fa-fw'

        %th.tbl-width65.text-center 
          .form-group
            .input-group  
              = text_field :student_id, '', class: 'form-control', placeholder: "Часть ФИО"
              %span.input-group-addon
                %span
                  = link_to fa_icon :search, class: 'fa-fw'
        %th.tbl-width65.text-center{colspan:4}
          .form-group
            .input-group  
              = select_tag :scholarship_period_id, options_for_select(["02.02.2017 — 30.06.2017","18.02.2018 — 18.02.2018","01.09.2012 — 30.01.2013","06.02.2013 — 29.06.2013","05.02.2014 — 28.06.2014","07.02.2015 — 30.06.2015"]), class: 'form-control'
              %span.input-group-addon
                %span
                  = link_to fa_icon :search, class: 'fa-fw'
        

    %tbody
      - @perform_data.each do |perform_datum|
        - if perform_datum.quantity2 == 0 and perform_datum.quantity3 == 0 
          - str = "green"
        - elsif perform_datum.quantity2 > 0 
          - str = "red"  
        - else 
          - str = "t"

        %tr{class: -str}

          %td.tbl-width65.text-center= perform_datum.quantity5
          %td.tbl-width65.text-center= perform_datum.quantity4
          %td.tbl-width65.text-center= perform_datum.quantity3
          %td.tbl-width65.text-center= perform_datum.quantity2
          %td.tbl-width65.text-center
            - if rand(2) == 1
              = link_to perform_datum.student.ln 
              = link_to perform_datum.student.fn
              = link_to perform_datum.student.sn
            - else
              = perform_datum.student.ln 
              = perform_datum.student.fn
              = perform_datum.student.sn
          %td.tbl-width65.text-center
            = l(perform_datum.scholarship_period.begin)
            \— 
            = l(perform_datum.scholarship_period.end)
          %td
            = link_to  perform_datum, class: "btn btn-primary" do
              =fa_icon :eye
          %td
            = link_to  edit_perform_datum_path(perform_datum), class: "btn btn-warning" do
              =fa_icon :edit
          %td
            = link_to  perform_datum, method: :delete, data: { confirm: 'Вы уверены?' }, class: "btn btn-danger" do
              =fa_icon :times

  %br

