%p#notice= notice

%p
  %b Количество 5:
  = @perform_datum.quantity5
%p
  %b Количество 4:
  = @perform_datum.quantity4
%p
  %b Количество 3:
  = @perform_datum.quantity3
%p
  %b Количество 2:
  = @perform_datum.quantity2
%p
  %b Студент:
  = @perform_datum.student.ln
  = @perform_datum.student.fn
  = @perform_datum.student.sn
%p
  %b Период начислений стипендий:
  = @perform_datum.scholarship_period.begin
  \-
  = @perform_datum.scholarship_period.end

= link_to 'Редактировать', edit_perform_datum_path(@perform_datum), class: "btn btn-warning"
\|
= link_to 'Назад', perform_data_path, class: "btn btn-primary"
