= form_for @role do |f|
  - if @role.errors.any?
    #error_explanation
      %h2= "#{pluralize(@role.errors.count, "error")} prohibited this role from being saved:"
      %ul
        - @role.errors.full_messages.each do |msg|
          %li= msg

  .row
    .col-md-6
      .form-group
        = f.label :"Название"
        = f.text_field :name, class: 'form-control'
  .row
    .col-md-6
      .form-group
        = f.label :"Информация"
        = f.text_field :info, class: 'form-control'
  .row
    .col-md-6
      .form-group
        = f.label :"Полная информация"
        = f.text_area :full_info, class: 'form-control'
  .row
    .col-md-6
      .form-group
  .form-actions
    = f.submit 'Сохранить', class: "btn btn-success"
