%p#notice= notice

%p
  %b Название:
  = @role.name
%p
  %b Информация:
  = @role.info
%p
  %b Полная информация:
  = @role.full_info

= link_to 'Редактировать', edit_role_path(@role), class: "btn btn-warning"
\|
= link_to 'Назад', roles_path, class: "btn btn-primary"
