= form_for @order_line do |f|
  - if @order_line.errors.any?
    #error_explanation
      %h2= "#{pluralize(@order_line.errors.count, "error")} prohibited this order_line from being saved:"
      %ul
        - @order_line.errors.full_messages.each do |message|
          %li= message

  .row
    .col-md-6
      .form-group
        = f.label :"Начало"
        .input-group.datepicker
          = f.text_field :begin_date, class: 'form-control'
          %span.input-group-addon
            %span.glyphicon.glyphicon-calendar 
  .row
    .col-md-6
      .form-group
        = f.label :"Окончание"
        = f.text_area :end_date, class: 'form-control'
  .row
    .col-md-6
      .form-group
        = f.label :"Стипендия"
        = f.text_area :scholarship, class: 'form-control'
  .row
    .col-md-6
      .form-group
        = f.label :"Студент"
        = f.select :student_id, options_for_select(orderlines_options()),{}, class: 'form-control'
  .row
    .col-md-6
      .form-group
        = f.label :"Приказ"
        = f.select :order_id, options_for_select(orderlines_options2()),{},  class: 'form-control'
  .row
    .col-md-6
      .form-group
        = f.label :"Период начисления стипендии"
        = f.select :scholarship_period_id, options_for_select(orderlines_options3()),{},  class: 'form-control'
  .row
    .col-md-6
      .form-group
        = f.label :"Тип стипендии"
        = f.select :type_scholarship_id, options_for_select(orderlines_options4()),{},  class: 'form-control'
  .form-actions
    = f.submit 'Сохранить', class: "btn btn-success"
    \|
    = link_to 'Назад', order_lines_path, class: "btn btn-primary"
