= form_for @order_line do |f|
  - if @order_line.errors.any?
    #error_explanation
      %h2= "#{pluralize(@order_line.errors.count, "error")} prohibited this order_line from being saved:"
      %ul
        - @order_line.errors.full_messages.each do |message|
          %li= message

  .row
    .col-md-6
      .form-group
        = f.label :"Начало"
        = f.text_area :begin_date, class: 'form-control'
  .row
    .col-md-6
      .form-group
        = f.label :"Окончание"
        = f.text_area :end_date, class: 'form-control'
  .row
    .col-md-6
      .form-group
        = f.label :"Стипендия"
        = f.text_area :scholarship, class: 'form-control'
  .row
    .col-md-6
      .form-group
        = f.label :"Студент"
        = f.text_field :student, class: 'form-control'
  .row
    .col-md-6
      .form-group
        = f.label :"Приказ"
        = f.text_field :order, class: 'form-control'
  .row
    .col-md-6
      .form-group
        = f.label :"Период начисления стипендии"
        = f.text_field :scholarship_period, class: 'form-control'
  .row
    .col-md-6
      .form-group
        = f.label :"Тип стипендии"
        = f.text_field :type_scholarship, class: 'form-control'
  .form-actions
    = f.submit 'Сохранить', class: "btn btn-success"
    \|
    = link_to 'Назад', order_lines_path, class: "btn btn-primary"
