%h1 Добавить строку приказа

= link_to 'Добавить строку приказа', new_order_line_path, class: "btn btn-primary"

%table.table
  %thead
    %tr
      %th Начало
      %th Окончание
      %th Стипендия
      %th Студент
      %th Приказ
      %th Период выплаты стипендий
      %th Тип стипендии
      %th
      %th
      %th

  %tbody
    - @order_lines.each do |order_line|
      %tr
        %td= order_line.begin_date
        %td= order_line.end_date
        %td= order_line.scholarship
        %td= order_line.student
        %td= order_line.order
        %td= order_line.scholarship_period
        %td= order_line.type_scholarship
        %td= link_to 'Показать', order_line, class: "btn btn-primary"
        %td= link_to 'Редактировать', edit_order_line_path(order_line), class: "btn btn-warning"
        %td= link_to 'Удалить', order_line, method: :delete, data: { confirm: 'Вы уверены?' }, class: "btn btn-danger"

%br

