%h2
  Формирование приказа
  .pull-right
    .label.label-success
      Весна 2017/2018
    .label.label-default
      id: 651 
  .clearfix
%h2
  %small{style: "margin-top: 30px;"}
    Приложение 1. Академическая стипендия: 2800 руб. (01.02.2018 - 30.06.2018)




.row
  .col-md-6
    %h4
      141133
    .row{style: "min-height: 4rem"}
      .col-md-8
        .pull-left
          %b.text-primary{style: "padding-right: 5px"}  
            Б
        %b
          1. Андрей Иванович Карпюк
        .clearfix
      .col-md-4.text-right
        = link_to 'Добавить', new_order_line_path, class: "btn btn-primary"
    .row{style: "min-height: 4rem"}
      .col-md-8
        .pull-left
          %b.text-primary{style: "padding-right: 5px"}  
            Б
        %b
          2. Елена Игоревна Богоявленская
      .col-md-4.text-right
        Уже добавлен
    .row{style: "min-height: 4rem"}
      .col-md-8
        .pull-left
          %b.text-danger{style: "padding-right: 5px"}  
            К
        %b
          3. Николай Петрович Воронин
      .col-md-4.text-right
        Не подходит
    .row{style: "min-height: 4rem"}
      .col-md-8
        .pull-left
          %b.text-primary{style: "padding-right: 5px"}  
            Б
        %b
          4. Светлана Валерьевна Рузина
        .clearfix
      .col-md-4.text-right
        = link_to 'Добавить', new_order_line_path, class: "btn btn-primary"
    .row{style: "min-height: 4rem"}
      .col-md-8
        .pull-left
          %b.text-primary{style: "padding-right: 5px"}  
            Б
        %b
          5. Константин Евгеньевич Макаров
        .clearfix
      .col-md-4.text-right
        = link_to 'Добавить', new_order_line_path, class: "btn btn-primary"
    .row{style: "min-height: 4rem"}
      .col-md-8
        .pull-left
          %b.text-primary{style: "padding-right: 5px"}  
            Б
        %b
          6. Андрей Самсонович Рускаков
        .clearfix
      .col-md-4.text-right
        = link_to 'Добавить', new_order_line_path, class: "btn btn-primary"
    .row{style: "min-height: 4rem"}
      .col-md-8
        .pull-left
          %b.text-primary{style: "padding-right: 5px"}  
            Б
        %b
          7. Богдан Иванович Кондаков
        .clearfix
      .col-md-4.text-right
        = link_to 'Добавить', new_order_line_path, class: "btn btn-primary"
    .row{style: "min-height: 4rem"}
      .col-md-8
        .pull-left
          %b.text-primary{style: "padding-right: 5px"}  
            Б
        %b
          8. Борис Иванович Иванов
        .clearfix
      .col-md-4.text-right
        = link_to 'Добавить', new_order_line_path, class: "btn btn-primary"
    .row{style: "min-height: 4rem"}
      .col-md-8
        .pull-left
          %b.text-danger{style: "padding-right: 5px"}  
            К
        %b
          9. Иван Андреевич Ясин
      .col-md-4.text-right
        Не подходит
    .row{style: "min-height: 4rem"}
      .col-md-8
        .pull-left
          %b.text-primary{style: "padding-right: 5px"}  
            Б
        %b
          10. Никита Антонович Пелевин
        .clearfix
      .col-md-4.text-right
        = link_to 'Добавить', new_order_line_path, class: "btn btn-primary"
    .row{style: "min-height: 4rem"}
      .col-md-8
        .pull-left
          %b.text-primary{style: "padding-right: 5px"}  
            Б
        %b
          11. Станислав Дмитриевич Дорохов
        .clearfix
      .col-md-4.text-right
        = link_to 'Добавить', new_order_line_path, class: "btn btn-primary"
    .row{style: "min-height: 4rem"}
      .col-md-8
        .pull-left
          %b.text-primary{style: "padding-right: 5px"}  
            Б
        %b
          12. Ирина Станиславовна Дорохина
        .clearfix
      .col-md-4.text-right
        = link_to 'Добавить', new_order_line_path, class: "btn btn-primary"
    .row{style: "min-height: 4rem"}
      .col-md-8
        .pull-left
          %b.text-primary{style: "padding-right: 5px"}  
            Б
        %b
          13. Дмитрий Александрович Кочнев
        .clearfix
      .col-md-4.text-right
        = link_to 'Добавить', new_order_line_path, class: "btn btn-primary"
    .row{style: "min-height: 4rem"}
      .col-md-8
        .pull-left
          %b.text-danger{style: "padding-right: 5px"}  
            К
        %b
          14. Инна Андреевна Курочкина
      .col-md-4.text-right
        Не подходит
    .row{style: "min-height: 4rem"}
      .col-md-8
        .pull-left
          %b.text-primary{style: "padding-right: 5px"}  
            Б
        %b
          15. Даниил Викторович Кравцев
        .clearfix
      .col-md-4.text-right
        = link_to 'Добавить', new_order_line_path, class: "btn btn-primary"
    .row{style: "min-height: 4rem"}
      .col-md-8
        .pull-left
          %b.text-primary{style: "padding-right: 5px"}  
            Б
        %b
          16. Юлия Валерьевна Манахова
        .clearfix
      .col-md-4.text-right
        = link_to 'Добавить', new_order_line_path, class: "btn btn-primary"
    .row{style: "min-height: 4rem"}
      .col-md-8
        .pull-left
          %b.text-primary{style: "padding-right: 5px"}  
            Б
        %b
          17. Константин Дмитриевич Машкин
        .clearfix
      .col-md-4.text-right
        = link_to 'Добавить', new_order_line_path, class: "btn btn-primary"
    .row{style: "min-height: 4rem"}
      .col-md-8
        .pull-left
          %b.text-primary{style: "padding-right: 5px"}  
            Б
        %b
          18. Эмма Ивановна Бобрикова
        .clearfix
      .col-md-4.text-right
        = link_to 'Добавить', new_order_line_path, class: "btn btn-primary"
    .row{style: "min-height: 4rem"}
      .col-md-8
        .pull-left
          %b.text-primary{style: "padding-right: 5px"}  
            Б
        %b
          19. Всеслава Вечеславовна Чечеткина
        .clearfix
      .col-md-4.text-right
        = link_to 'Добавить', new_order_line_path, class: "btn btn-primary"
    .row{style: "min-height: 4rem"}
      .col-md-8
        .pull-left
          %b.text-primary{style: "padding-right: 5px"}  
            Б
        %b
          20. Василиса Мироновна Ермишина
        .clearfix
      .col-md-4.text-right
        = link_to 'Добавить', new_order_line_path, class: "btn btn-primary"
    .row{style: "min-height: 4rem"}
      .col-md-8
        .pull-left
          %b.text-primary{style: "padding-right: 5px"}  
       
  .col-md-6
    .form-group
      %h4
        Группы
        %dl
        %dt
          1 Курс
        %dd
          %ul
            %li
              = link_to(?#, style: "color: #44ff44;") do
                123455 (17Б/3К)
                .label.label-success
                  10 ст. / 28000,00 Руб.
            %li
              = link_to(?#) do
                130456 (18Б/4К)
            %li
              = link_to(?#) do
                145437 (21Б/7К)
        %dt

          2 Курс
        %dd
          %ul
            %li            
              = link_to(?#) do
                130433 (18Б/4К)
            %li
              = link_to(?#) do
                146467 (24Б/5К)
            %li
              = link_to(?#) do
                130434 (21Б/2К)
        %dt

          3 Курс
        %dd
          %ul
            %li            
              = link_to(?#) do
                130542 (16Б/1К)
            %li
              = link_to(?#) do
                186454 (18Б/2К)
            %li
              = link_to(?#) do
                136438 (14Б/2К)
        %dt

          4 Курс
        %dd
          %ul
            %li
              = link_to(?#, style: "color: #ff8888; font-weight: bold;") do
                141133 (17Б/3К)
                .label.label-warning
                  1 ст. / 2800,00 Руб.
            %li
              = link_to(?#) do
                123455 (10Б/3К)
            %li
              = link_to(?#) do
                141834 (15Б/3К)
            %li
              = link_to(?#) do
                834141 (11Б/3К)
            %li
              = link_to(?#) do
                834641 (10Б/3К)
            %li
              = link_to(?#) do
                143132 (13Б/3К)
            %li
              = link_to(?#) do
                646632 (16Б/3К)
            %li
              = link_to(?#) do
                148834 (13Б/3К)

