= form_for @financing do |f|
  - if @financing.errors.any?
    #error_explanation

      %h2= "#{pluralize(@financing.errors.count, "error")} prohibited this financing from being saved:"
      %ul
        - @financing.errors.full_messages.each do |message|
          %li= message
  .row
    .col-md-6
      .form-group
        = f.label :"Название финансирования"
        = f.text_area :name_financing, class: 'form-control'
        = f.error_messages_for(:name_finansing)
  .row
    .col-md-6 
      .form-group
        = f.label :"Сумма"
        = f.number_field :suum, class: 'form-control'
        = f.error_messages_for(:suum)
  .row
    .col-md-6
      .form-group
        = f.label :"Факультет"
        = f.select :faculty_id, options_for_select(faculties_options()), {}, class: 'form-control'
        = f.error_messages_for(:faculty)
  .row
    .col-md-6 
      .form-group
        = f.label :"Период начисления стипендий"
        = f.select :scholarship_period_id, options_for_select(faculties_options2()),{}, class: 'form-control'
        = f.error_messages_for(:scholarship_period)
  .row
    .col-md-6 
      .form-group
        = f.label :"Вид стипендии"
        = f.select :type_scholarship_id, options_for_select(faculties_options3()),{}, class: 'form-control'
        = f.error_messages_for(:type_scholarship_id)
  .row
    .col-md-6 
      .form-group
  .form-actions
    = f.submit 'Сохранить', class: "btn btn-success"
    \|
    = link_to 'Назад', financings_path, class: "btn btn-primary"

    

