%h1 Список источников финансирования

%table
  %thead
    %tr
      %th Название источника финансирования
      %th Сумма финансирования
      %th Факультет
      %th Период выплаты стипендии
      %th Вид стипендии
      %th
      %th
      %th

  %tbody
    - @financings.each do |financing|
      %tr
        %td= financing.name_financing
        %td= financing.suum
        %td= financing.faculty
        %td= financing.scholarship_period
        %td= financing.type_scholarship_id
        %td= link_to 'Показать', financing
        %td= link_to 'Редактировать', edit_financing_path(financing)
        %td= link_to 'Удалить', financing, method: :delete, data: { confirm: 'Вы уверены?' }

%br

= link_to 'Создать источник финансирования', new_financing_path
