%p#notice= notice

%p
  %b Источник финансирования:
  = @financing.name_financing
%p
  %b Сумма финансирования:
  = @financing.suum
%p
  %b Факультет:
  = @financing.faculty
%p
  %b Период выплаты стипендии:
  = @financing.scholarship_period
%p
  %b Вид стипендии:
  = @financing.type_scholarship_id

= link_to 'Редактировать', edit_financing_path(@financing)
\|
= link_to 'Назад', financings_path
