%p#notice= notice

%p
  %b Источник финансирования:
  = @financing.name_financing
%p
  %b Сумма финансирования:
  = @financing.suum
%p
  %b Факультет:
  = @financing.faculty.namef
%p
  %b Период выплаты стипендии:
  = @financing.scholarship_period.begin
  \-
  = @financing.scholarship_period.end
%p
  %b Вид стипендии:
  = @financing.type_scholarship_id

= link_to 'Редактировать', edit_financing_path(@financing), class: "btn btn-warning"
\|
= link_to 'Назад', financings_path, class: "btn btn-primary"
